streamlit==1.31.1
langchain>=1.0.0
huggingface-hub>=0.13.0
faiss-cpu==1.8.0.post1
sentence-transformers==2.7.0
pandas==2.1.4
numpy==1.26.4
altair==5.2.0
giskard==2.10.0
griffe<0.41
requests>=2.32.4
tqdm>=4.66.1
